<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias alias="recordmap" type="framework.db.RecordMap"/>
	</typeAliases>
	
	<!--<plugins>
		<plugin interceptor="framework.db.MybatisRecordSetPlugin"/>
	</plugins>-->

	<mappers>
		<mapper resource="" />
	</mappers>

</configuration>